.description {
  background-color: #eff5f6;
  padding: 35px;
  text-align: center;
}
.avatar {
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}
.name {
  font-weight: 700;
  font-size: 26px;
  margin: 0;
  padding: 0;
  margin-top: 35px;
}
.tag {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  color: #969494;
}
.location {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  color: #969494;
}
